@page
@model HR_Management_System.Pages.AdminPages.Employee.AddAsEmployeeModel
@{
    ViewData["Title"] = "AddAsEmployee";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System



<center><h2>Add Employee</h2></center>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Applicant.Name, ID: @Model.Applicant.Id</h6>
    </div>
    <div class="card-body">




        <div class="d-flex flex-column" >
            <div class="col-lg-4">
                <div>
                    <img src="@Model.ImgSrc(Model.Applicant.ProfileImage)" class="shadow img-profile rounded-circle" style="border:solid white 4px; object-fit:cover;" alt="Alternate Text" width="150" height="150"/>
                </div>
                <h4 class="mt-4 mb-4">@Model.Applicant.Name</h4>
                <div class="d-flex flex-row">
                    <h5>Department:</h5>

                    <p class="ml-2">@Model.Applicant.Department</p>
                </div>

                <div class="d-flex flex-row">
                    <h5>Designation:</h5>

                    <p class="ml-2">@Model.Applicant.Designation</p>
                </div>


            </div>



            <div class="col-lg-3">
                <form role="form" method="post" class="form-horizontal form-groups-bordered">
                    <input type="text" value="@Model.Applicant.Id" hidden name="id" />
                    <div class="form-group">
                        <label class="control-label">Joining Date<span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="date" asp-for="JoiningDate" class="form-control">
                            <small><span asp-validation-for="JoiningDate" class="text-danger"></span></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Username <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" asp-for="Username">
                            <small> <span asp-validation-for="Username" class="text-danger"></span></small>
                            @if (Model.UsernameExisted == true)
                            {
                                <small> <span class="text-danger">Username existed. Try another username.</span></small>
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="submit" id="sbtn" class="btn btn-primary">Add as Employee</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
