@page
@model HR_Management_System.Pages.AddEmployeeModel
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System




<center><h2>Add Employee</h2></center>




<div class="card shadow mb-4">

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter ml-4 mt-4">
                <form method="get">
                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="Search by Title" aria-controls="dataTable" name="src_string"></label>
                    <span><button class="btn btn-primary form-control-sm" type="submit">Search</button></span>
                </form>

            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Date of interview</th>
                        <th>Action</th>
                    </tr>
                </thead>



                <tbody>

                    @if (Model.Applicants != null)
                    {
                        if (Model.Applicants.Count > 0)
                        {
                            for (int i = 0; i < Model.Applicants.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Applicants[i].Id</td>
                                    <td>@Model.Applicants[i].Name</td>
                                    <td>@Model.Applicants[i].Department</td>
                                    <td>@Model.Applicants[i].Designation</td>
                                    <td>@Model.DateOfApplcationShortForm(Model.Applicants[i].InterviewDate)</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-6"><a asp-page="./AddAsEmployee" asp-route-id="@Model.Applicants[i].Id">Select as Employee</a></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }

                </tbody>


            </table>
        </div>
    </div>
</div>